In [14]:
import scipy.stats as stats
import pandas as pd

df = pd.read_csv("results.txt", sep=",")

def kruskal(*args): 
    # Realiza la prueba de Kruskal-Wallis
    estadistica, p_valor = stats.kruskal(*args)    
    alpha = 0.05  # Nivel de significancia
    if p_valor < alpha:
        return estadistica, p_valor, "rechaza"
    else:
        return estadistica, p_valor, "no rechaza"
    #     print("Se rechaza la hipótesis nula: hay evidencia de al menos una diferencia significativa en las medias.")
    # else:
    #     print("No se puede rechazar la hipótesis nula: no hay evidencia de diferencia significativa en las medias.")


def kruskal_by(data:pd.DataFrame, group_var:str, value_cols:list): 

    uniques = data[group_var].unique()
    for col in value_cols:
        values = [data.loc[data[group_var] == u, col].to_list() for u in uniques]
        # print(values)
        estadistica, p_valor, kruskal_result = kruskal(*values) 
        print(f"{group_var} kruskal test {col}: {kruskal_result} - p-value {p_valor}")

In [15]:
kruskal_by(data=df, group_var="Proyección", value_cols=['RAND','ARAND','VanDonguen'])
df.groupby("Proyección")[['RAND','ARAND','VanDonguen']].median()

Proyección kruskal test RAND: rechaza - p-value 0.0017647180725652485
Proyección kruskal test ARAND: rechaza - p-value 0.0017647180725652485
Proyección kruskal test VanDonguen: rechaza - p-value 0.0017647180725652563

              RAND   ARAND  VanDonguen
Proyección
PCA         0.8254  0.4688      0.4629
UMAP        0.9872  0.9602      0.0202

In [16]:
kruskal_by(data=df, group_var="Algoritmo", value_cols=['RAND','ARAND','VanDonguen'])
df.groupby("Algoritmo")[['RAND','ARAND','VanDonguen']].median()

Algoritmo kruskal test RAND: no rechaza - p-value 0.5688381725715809
Algoritmo kruskal test ARAND: no rechaza - p-value 0.5688381725715809
Algoritmo kruskal test VanDonguen: no rechaza - p-value 0.533783215075592

               RAND    ARAND  VanDonguen
Algoritmo
Difuso      0.81265  0.60950     0.28665
Jerárquica  0.92715  0.77620     0.17190
Kmedias     0.90920  0.71785     0.21845

In [17]:
kruskal_by(data=df, group_var="Atributos", value_cols=['RAND','ARAND','VanDonguen'])
df.groupby("Atributos")[['RAND','ARAND','VanDonguen']].median()

Atributos kruskal test RAND: no rechaza - p-value 1.0
Atributos kruskal test ARAND: no rechaza - p-value 1.0
Atributos kruskal test VanDonguen: no rechaza - p-value 0.8080882235062805

                RAND    ARAND  VanDonguen
Atributos
Morfológicos  0.9092  0.71785     0.21845
VGG-16        0.9194  0.75190     0.18490

In [18]:
kruskal_by(data=df, group_var="Muestra", value_cols=['RAND','ARAND','VanDonguen'])
df.groupby("Muestra")[['RAND','ARAND','VanDonguen']].median()

Muestra kruskal test RAND: no rechaza - p-value 0.7523612722422827
Muestra kruskal test ARAND: no rechaza - p-value 0.7523612722422827
Muestra kruskal test VanDonguen: no rechaza - p-value 0.7523612722422827

            RAND    ARAND  VanDonguen
Muestra
15k      0.91535  0.73665     0.20510
60k      0.90895  0.71700     0.21845

In [19]:
df.groupby(['Atributos','Proyección'])[['RAND','ARAND','VanDonguen']].median()

                            RAND    ARAND  VanDonguen
Atributos    Proyección
Morfológicos PCA         0.87925  0.62405     0.32765
             UMAP        0.94505  0.82960     0.09800
VGG-16       PCA         0.81310  0.41910     0.48060
             UMAP        0.98720  0.96020     0.02020